{% extends 'website/layout.html' %}

{% block main %}
    <h3>Descrição</h3>
    <p>O Manchester United Football Club é um clube inglês, sediado em Trafford, na região metropolitana de Manchester, sendo um dos times mais populares e mais bem sucedidos da Inglaterra e do mundo.[3] É conhecido como "Diabos Vermelhos", bem como por abreviações de seu nome, como Manchester Utd, Man United, Man Utd e United. Em muitos lugares, é referido como "o Manchester" ou apenas como o "UNITED" assim referido pela grande maioria dos fãs.</p>
{% endblock %}