{% extends 'website/layout.html' %}

{% block main %} 
    <h3>Descrição</h3>
    <p>O Sporting Clube de Portugal ComC • MHIH • OB é um clube português, eclético e multidesportivo, fundado a 1 de julho de 1906, com sede em Lisboa no Complexo Alvalade XXI. É um dos "Três Grandes" clubes em Portugal, juntamente com SL Benfica e FC Porto. Conta com mais de 175 000 sócios registados e mais de dois milhões e 600 mil adeptos no território nacional e muitos sportinguistas espalhados pela Europa e pelo Mundo. É o terceiro clube com mais adeptos em Portugal. As suas equipas, atletas e simpatizantes, são apelidados de sportinguistas e leões.</p>
{% endblock %}